
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_department %}
        Add Role
    {% else %}
        Edit Role
    {% endif %}

    {% import "bootstrap/wtf.html" as wtf %}
    {% extends "base.html" %}
    {% block title %}
        {% if add_department %}
            Add Issue
        {% else %}
            Edit Issue
        {% endif %}
    {% endblock %}
    {% block body %}
    <div class="content-section">
     <div class="outer">
        <div class="middle">
          <div class="inner">
            <div class="center">
                {% if add_issue %}
                    <h1>Add Issue</h1>
                {% else %}
                    <h1>Edit Issue</h1>
                {% endif %}
                <br/>
                {{ wtf.quick_form(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}